<form id="login-form" class="form-horizontal" role="form" onsubmit="return false">
    <div class="form-group">
        <label class="col-md-3 control-label" for="login-name">账号</label>
        <input id="login-name" type="text" class="form-control" value="" placeholder="Enter your name" required />
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label" for="login-pass">密码</label>
        <input id="login-pass" type="password" class="form-control" value="" placeholder="Password" required />
    </div>
    <button id="login-btn-ok" class="btn btn-success btn-large btn-block">登录</button>
    <a id="login-btn-register" class="btn btn-info btn-large btn-block">注册</a>
    <div id="login-close" class="glyphicon glyphicon-remove" aria-hidden="true"></div>
</form>


